<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heather's Hacklendar</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<style type="text/css">
    
	.week {
    clear: both;
  }
  .day {
    float: left;
    border-top: solid 1px #666;
    border-left: solid 1px #666;
    width: 68px;
    height: 68px;
    background: white;
    position: relative;
    cursor: pointer;
  }
  .week .day:last-child {
    border-right: solid 1px #666;
  }
  .calendar .week:last-child .day {
    border-bottom: solid 1px #666;
  }
  .week .day:nth-child(6), .week .day:last-child {
    background-color: #fafaff;
  }
  .calendar {
    width: 500px;
    padding: 10px;
    overflow: hidden;
  }
  .header {

  }
  .streak:after {
    content: '✓';
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #090;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
  }

  .span5 {
    margin-left: -1px;
  }

  .lead {
    margin-top: 20px;
    margin-bottom: 10px;

  }

  .small {
    font-size:15px;
    color:#000000;
    line-height:20px;
    margin-bottom: 5px;
  }

  .smallcaps {
    font-size:10px;
    color:#939598;
    text-transform:uppercase;
    letter-spacing:1px;
    line-height:15px;
  }

  #contact-page {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }

  #contact-page h2 {
    margin-top: 0px;
  }

  input, textarea, .uneditable-input {
    width: 286px;
  }

  #contact-page p {
    margin: 0 0 10px;
  }

  .day a {
    display: block;
    height: 100%;
  }

  .titles .day {
    height: 10px;
    background: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  .link {
    padding: 5px;
  }

</style>

  </head>
  <body>
  		<%= yield %>
	</div>

  </body>
</html>